<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Memo Match
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        {{count}}
      </ion-label>
      <ion-label>
        Intentos {{attempts}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click) = size(3,2)>
        3 x 2
      </ion-button>
      <ion-button (click) = size(4,3)>
        4 x 3
      </ion-button>
      <ion-button (click) = size(5,4)>
        5 x 4
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click) = "type('Orgullo')">
        Pride
      </ion-button>
      <ion-button (click) = "type('Animales')">
        Animales
      </ion-button>
    </ion-item>
  </ion-list>
  <main class="board-game">
    <div *ngFor="let item of [].constructor(tamano[0]); let j = index">
      <div *ngFor="let item of [].constructor(tamano[1]); let i = index">
        <figure>
          <img class="back" src="../../assets/back.png" alt="Back">
          <div class="searched-image">
            <img src="../../assets/Orgullo/Globo.PNG">
          </div>
        </figure>
      </div>
    </div>
  </main>
</ion-content>
